<div  class="card" style="max-width:90%;margin-left:auto;margin-right:auto;margin-top:5%">
    <div class="card-body container">
        <div *ngIf="book.img==='true'; else elseBlock" class="row">
            <div class="col-4">
                <img [src]="image" class="img-fluid" alt="responsive-img">
            </div>
            <div class="col-8">
                <h5>{{book.title}}</h5>
                <p>ISBN: {{book.isbn}}</p>
                <p>Author: {{book.author}}</p>
                <p>Genre: {{book.genre}}</p>
                <p>{{book.description}}</p>
            </div>
        </div>
        <ng-template #elseBlock class="row">
            <div class="d-block">
                <h5>{{book.title}}</h5>
                <p>ISBN: {{book.isbn}}</p>
                <p>Author: {{book.author}}</p>
                <p>Genre: {{book.genre}}</p>
                <p>{{book.description}}</p>
            </div>
        </ng-template>
        <div class="row">
            <div class="col">
                <button type="button" data-toggle="modal" data-target="#edit" class="btn btn-primary float-left" (click)="sendIdxToEdit()">Edit</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#img" (click)="clickImg()">Upload Image</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-danger float-right" (click)="sendIdxToDelete()" data-toggle="modal" data-target="#del">Delete</button>
            </div>
        </div>
    </div>
</div>
