<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="#">Lib Query</a>
</nav>

<div class="bg-light container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#search">Search</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary float-right" data-toggle="collapse" data-target="#add">Add</button>
        </div>
    </div>
</div>

<div class="collapse bg-light" id="search">
    <form [formGroup]="searchForm" (ngSubmit)="searchBooks()" style="max-width:85%;margin-left:auto;margin-right:auto">
        <input formControlName="getISBN" type="text" class="form-control" placeholder="ISBN">
        <input formControlName="getTitle" type="text" class="form-control" placeholder="title"/>
        <input formControlName="getAuthor" type="text" class="form-control" placeholder="author"/>
        <label for="genre">Genre:</label>
        <select formControlName="getGenre" id="genre" class="form-control">
            <option *ngFor="let g of genres" [value]="g">{{g}}</option>
        </select>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary float-right">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="collapse bg-light" id="add">
    <form [formGroup]="addForm" (ngSubmit)="addBook()" style="max-width:85%;margin-left:auto;margin-right:auto">
        <input formControlName="ISBN" type="text" class="form-control" placeholder="ISBN" />
        <input formControlName="title" type="text" class="form-control" placeholder="title"/>
        <label>Author:</label>
        <input formControlName="author" type="text" class="form-control" placeholder="author"/>
        <label>Genre:</label>
        <input formControlName="genre" type="text" class="form-control" placeholder="genre of the book"/>
        <label for="desc">Description</label>
        <textarea formControlName="description" id="desc" class="form-control" rows="5" cols="85"></textarea>
        <div class="alert alert-danger" role="alert" *ngIf="!addForm.valid">
            <div *ngIf="addForm.controls['ISBN'].hasError('required')">
                Please register an ISBN
            </div>
            <div *ngIf="addForm.controls['ISBN'].hasError('invalidISBN')">
                The ISBN must be composed of at least 4 digit numbers!
            </div>
            <div *ngIf="addForm.controls['title'].hasError('required')">
                Please fill in the title of the book
            </div>
            <div *ngIf="addForm.controls['author'].hasError('required')">
                Please fill in the author of the book. Unknown for unknown author.
            </div>
            <div *ngIf="addForm.controls['genre'].hasError('required')">
                Please fill in the genre of the book. Unclassified to specify books unable to classified.
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="submit" [disabled]="!addForm.valid" class="btn btn-success float-right">Add</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="errorMsg==null;else errorBlock">
    <app-book-list *ngFor="let book of books;index as i" [idx]="i" [book]="book" (sendIndexToEdit)="initEditForm($event)" (sendIndexToDelete)="alertDelete($event)" (sendIndexToImg)="setImgIdx($event)"></app-book-list>
</div>
<ng-template #errorBlock>
    <div class="alert alert-danger">{{errorMsg}}</div>
</ng-template>

<div id="edit" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" style="width:95%;margin-left:auto;margin-right:auto">
                    <div class="row">
                        <label>ISBN:</label>
                        <input formControlName="ISBN" type="text" class="form-control" [disabled]=true>
                    </div>
                    <div class="row">
                        <label>Title:</label>
                        <input formControlName="title" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <label>Author:</label>
                        <input formControlName="author" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <label>Genre:</label>
                        <input formControlName="genre" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <label>Description:</label>
                        <textarea formControlName="description" cols="50" rows="8" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="editBooks(editForm)">Update</button>
            </div>
        </div>
    </div>
</div>

<div id="del" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are You Sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the following data?</p>
                <form [formGroup]="delForm" style="width:95%;margin-left:auto;margin-right:auto;">
                    <div class="row">
                        <label>ISBN:</label>
                        <input formControlName="ISBN" type="text" class="form-control" readonly/>
                    </div>
                    <div class="row">
                        <label>title:</label>
                        <input formControlName="title" type="text" class="form-control" readonly/>
                    </div>
                    <div class="row">
                        <label>author:</label>
                        <input formControlName="author" type="text" class="form-control" readonly/>
                    </div>
                    <div class="row">
                        <label>genre:</label>
                        <input formControlName="genre" type="text" class="form-control" readonly/>
                    </div>
                    <div class="row">
                        <label>description:</label>
                        <textarea formControlName="description" type="text" class="form-control" rows="8" cols="50" readonly></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteBook(delForm)">Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="img" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="imgForm">
                    <input type="file" (change)="onFileSelect($event)">
                    <div class="alert alert-danger" *ngIf="!imgFormValid">
                        <div *ngIf="!fileFormatValid">Only .jpeg,.png,.jpg file format is allow!</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" (click)="uploadImg()">Upload</button>
            </div>
        </div>
    </div>
</div>